{% extends 'base.html.twig' %}

{% block title %}Edit Time Period{% endblock %}

{% block body %}
    <h1>Edit Time Period</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('app_time_period_list') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}
